* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            font-family: 'Poppins', sans-serif;   
            background: radial-gradient(circle at top, #2a2a2a, #0d0d0d);
            color: white;
            display: flex;
        }

        .box{
            align-items: center;
            padding: 30px;
            text-align: center;
            border-radius: 20px;
            margin: auto;
        }

        .icone{
            border-radius: 15px;
        }

        .curriculo{
            border-radius: 20px;
            animation: aparecer 0.8s ease-out;
            max-width: 100%;
            height: auto;
        }

        a{
            color: white;
            text-decoration: none;
        }
        
        .title{
            align-items: center;
            padding: 30px;
            text-align: center;
            animation: aparecer 0.8s ease-out;
            margin-bottom: 25px;
            position: relative;
        }

        .title h1{
            font-size: 30px;
            font-weight: 500;
        }

        .title h2{
            font-size: 20px;
            font-weight: 400;
        }

        .icone {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            border: 2px solid white;
        }

        .inner{
            display: block;
            margin: 12px 0;
            padding: 15px;
            border-radius: 15px;

            background-color: rgba(255, 255, 255, 0.05);

            border: 1px solid rgba(255,255,255,0.1);
            font-weight: 500;
            transition: 0.3s;
            
        }

        .inner:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,0.4);
        }

         .icone:hover{
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,0.4);
        }

        @keyframes aparecer {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @media (max-width: 500px) {
            .container {
                padding: 20px;
            }
        }